.button-container {
    justify-content: flex-end;
    align-items: center;
    padding: 0 25px;
}

.button-container2 {
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;

}

.registro-container {
    align-items: center;
}

.text-center {
    text-align: center;
}

.card-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,66,114,255) !important;
}

.logoUniversidad {
    max-width: 125px;
}