<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="row card-header card-header-custom">
                      <div>
                        <h4 class="card-title ">Usuarios</h4>
                        <p class="card-category"> Gestion de Usuarios</p>
                      </div>

                      <div>
                        <button mat-raised-button (click)="openModal('crear')" color="primary">Crear</button>
                      </div>
                      
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Correo
                                    </th>
                                    <th>
                                        Fecha creación
                                    </th>
                                    <th>
                                    </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let user of usuarios">
                                      <td>
                                          {{user.nombre}}
                                      </td>
                                      <td>
                                        {{user.email}}
                                      </td>
                                      <td>
                                        {{user.created_at | date:'dd/MM/yyyy, h:mm a' }}
                                      </td>

                                      <td>
                                        <button [matMenuTriggerFor]="menu" mat-icon-button color='primary'>
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button (click)="openModal('editar', user)" mat-menu-item>
                                                <mat-icon>edit</mat-icon>
                                                <span>Editar</span>
                                              </button>

                                              <button (click)="eliminarPaciente(user)" mat-menu-item>
                                                <mat-icon>delete</mat-icon>
                                                <span>Eliminar</span>
                                              </button>
                                          </mat-menu>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
