<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">coronavirus</i>
            </div>
            <p class="card-category">Pacientes</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">Total: {{ pacientes.length }}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">access_time</i>
            </div>
            <p class="card-category">Contagio mas reciente</p>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              {{
                pacientes[contagioRecienteIndex]?.fecha_contagio
                  | date: "dd/MM/yyyy"
              }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Por mes</h4>
         
            <p *ngFor="let mes of labelsPorMes; index as i" class="card-category">
              {{seriesPorMes[i]}} {{mes}}
              <span class="text-success"
                >{{ seriesPorMes[i] / pacientes.length * 100 | number: "2.0-1" }}%
              </span>
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Por genero</h4>
            <p class="card-category">
              
              {{porcentajeHombresCantidad}} Hombres
              <span class="text-warning"
                >{{ porcentajeHombres | number: "2.0-1" }}%
              </span>
            </p>
            <p class="card-category">

              {{porcentajeMujeresCantidad}}
              Mujeres
              <span class="text-warning"
              >{{ porcentajeMujeres | number: "2.0-1" }}%
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="nivelEducativoChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Por nivel educativo</h4>
            <p class="card-category">
              {{porcentajePrimariaCantidad}} Primaria
              <span class="text-danger"
                >{{ porcentajePrimaria | number: "2.0-1" }}%
              </span>
                
            </p>
            <p class="card-category">

              {{porcentajeBachillerCantidad}} Bachiller
                <span class="text-danger"
                  >{{ porcentajeBachiller | number: "2.0-1" }}%
                </span>
                
            </p>
            <p class="card-category">
              {{porcentajeUniversitarioCantidad}} Universitario
                <span class="text-danger"
                  >{{ porcentajeUniversitario | number: "2.0-1" }}%
                </span>
               
            </p>
            <p class="card-category">
              {{porcentajeOtroCantidad}} Otros
                <span class="text-danger"
                  >{{ porcentajeOtro | number: "2.0-1" }}%
                </span>
               
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
