.button-container {
    justify-content: space-evenly;
    align-items: center;
}

.registro-container {
    align-items: center;
}

.text-center {
    text-align: center;
}

.card-header-custom {

    background-color: rgba(0,66,114,255) !important;
}